#searchWrap {
  position: relative;
  box-shadow: 0px 0px 8px 5px black;
  padding: 15px;
  border-radius: 10px;
}
#results {
  border-radius: 10px;

  position: absolute;
  background: white;
  padding: 1px 2px;
  list-style: none;
  z-index: 666;
  box-shadow: 0px 0px 8px 5px black;

  margin-top: 15px;
  margin-left: -15px;
  width: 100%;
  padding: 15px;
  background-color: blueviolet;
}

#results::after {
  content: "";
  height: 26px;
  width: 100%;
  background: green;
  display: block;
  top: -13px;
  left: 0;
  position: absolute;
}
#results img {
  height: 50px;
  width: 120px;
  object-fit: cover;
  position: relative;
}
#results p {
  display: inline-block;
}
#results li:hover {
  background: #ccf;
  color: #00f !important;
}
#results li:hover a {
  background: #ccf;
  color: #00f !important;
}
#results li {
  color: #000000 !important;
  padding: 6px 2px;
}
#results li.selected {
  background: #ccf;
  color: #00f !important;
}
#results li.selected a {
  background: #ccf;
  color: #00f !important;
}
#results a {
  /* height: 100%; */
  /* background: green; */
  width: 100%;
  color: #000000 !important;
  display: inline-block;
}
